<!-- card/templates/card/card_update.html -->
{% extends "layout.html" %}
{% load bootstrap4 %}
{%load split from card_split%}
{% block title%}글 수정 폼{% endblock title%}
{%block head%}
<style>
    .btn{
        background-color : aliceblue; 
        color : plum;
        }
</style>
<script>
    $(document).ready(function(){
        $('#id_card_from').val("{{object.pk|split}}");
    })
</script>
{%endblock head%}
{% block contents %}
<h1>글 수정폼</h1> 
<form method='post'  style="display:inline-block;">
    {% csrf_token %}
    {% bootstrap_form  form%}
    <button type='submit' class='btn' style="background-color:aliceblue; color: plum;">글수정</button>
    <button type='reset' class='btn' style="background-color:aliceblue; color: plum;">초기화</button>
</form>
{% endblock contents %}