{% extends "layout.html" %}
{%load split from card_split%}
{% block title%}편지 내용 확인{% endblock title %}
{%block head%}
<style>
    b{font-size: 25px; font-weight: 100;}
    #message{color:lightcoral;}
</style>
{%endblock head%}
{% block contents %}
{%if messages%}
    {%for message in messages%}
    <div class = "alert notification-container" role="alert" id="message">
        {{message.message}}
    </div>
    {%endfor%}
{%endif%}
<b>To. </b> {{object.card_to.name}}
<div style="border: 0px solid gray;padding:3%;min-height:100px;margin:3%;">
    {{object.content|linebreaksbr}} <br>
</div>

{%if object.create_at != object.update_at %}
        {{object.update_at|date:"Y/m/d A H:i"}}<br>
    {%else%}
        {{object.create_at|date:"Y/m/d A H:i"}} <br>
    {%endif%}
<b>From. </b> {{object.card_from|split}}

<div>
    <br>
    <a class="btn btn-sm" href = "{%url 'login_user' user.username %}" style="background-color:aliceblue; color: plum;" >우편함으로 돌아가기</a>
    {%if not birthday%}
    <a class="btn btn-sm" href = "{%url 'card:update' user.username card.pk %}" style="background-color:aliceblue; color: plum;" >편지 수정</a>
    {%endif%}
    <a class="btn btn-sm" href = "{%url 'card:delete' user.username card.pk %}" style="background-color:aliceblue; color: plum;" >편지 삭제</a>
</div>
{% endblock contents %}