{% extends "layout.html" %}
{% load bootstrap4 %}
{% block title %}로그인{% endblock title %}
{% block contents %}
{%if create_account_success%}
<style>
    div{color:lightcoral}
</style>
<div>{{create_account_success}}</div><br>
{%endif%}
{%if relogin%}
<h6 style="color: plum;">{{user.username}}님의 우편함 열람을 위해 본인 인증을 해주세요.</h6>
<script>
    $(document).ready(function(){
        $('#id_username').val("{{relogin}}");
        $('#id_username').attr("readonly", true);
    })
</script>
{%endif%}
<form method='post' style="display: inline-block;margin-top: 5%;">
    {% csrf_token %}
    {% bootstrap_form form%}
    <button type='submit' class='btn' style="background-color:aliceblue; color: plum;">로그인</button>
</form>
{% endblock contents%}