<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Birthday Card{%endblock title%}</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</head>
<body class='text-center'>
    <div class='container'> <!--containger 안 하면 양끝 붙어-->

    <br>
    <h1 onclick="location.href='/'">🎊Happy Birthday🎊</h1><br> 
    <h5>생일 편지를 작성해주세요.</h5>
    <br>
    {%block content%}
    <button type = "button" class = "btn btn-primary"onclick="location.href='/account/login'">로그인</button>
    <button type = "button" class = "btn btn-primary"onclick="location.href='/account/join'">회원가입</button>

    <!-- <a href = "{% url 'account:login' %}" class = 'btn'>로그인</a>
    <a href = "{% url 'account:join' %}" class = 'btn'>회원가입</a> -->
    {%endblock content%}
    </div>
</body>
</html>